.section {
  background-color: var(--white-color);
  padding: 1rem 0;
}
.topBarContainer {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1rem 0;
}
.container { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
  
.logo { 
  display: flex;
  align-items: center;
} 
.logo img {
  height: 40px;
} 
.navList {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.navItem {
  position: relative;
}
.hasMega a {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  color: var(--black-color);
}

.hasMega:hover .megaMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.megaMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  z-index: 999;
}

.megaItem {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  transition: 0.2s;
}

.megaItem:hover {
  color: var(--primary-color); 
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 2.5rem;    
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 1.5em;    
  height: 1.5rem;
  stroke: var(--black-color);
}

.iconWith svg {
  color: var(--primary-color);
}