.heroSection {
  background-image: url("/bg_hero.png");
  background-size: cover;
  background-position: center;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.imageWrapper {
  width: 100%;
}

.heroImageWrapper {
  display: flex;
  justify-content: center;
}

.heroImage {
  border-radius: 500px;
  object-fit: cover;
  height: 470px;
  border: 8px solid var(--black-color);
}

:global(.hero-section .swiper-button-prev),
:global(.hero-section .swiper-button-next) {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  border: 1px solid var(--white-color);
}
:global(.hero-section .swiper-button-prev) {
  margin-left: 2rem !important;
}
:global(.hero-section .swiper-button-next) {
  margin-right: 2rem !important;
}


:global(.hero-section .swiper-button-prev:hover),
:global(.hero-section .swiper-button-next:hover) {
  opacity: 0.8;
}
:global(.hero-section  .swiper-button-prev) svg {
  width: 20px;
  height: 20px;
}
:global(.hero-section  .swiper-button-next) svg {
  width: 20px;
  height: 20px;
}

:global(.hero-section .swiper-button-prev::after),
:global(.hero-section .swiper-button-next::after) {
  font-size: 18px;
  font-weight: bold;
}

:global(.hero-section .swiper-pagination) {
  bottom: 10px !important;
}

:global(.hero-section .swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
  background: var(--border-color);
  opacity: 1;
  transition: 0.6s;
}

:global(.hero-section .swiper-pagination-bullet-active) {
  background: var(--secondary-color);
  width: 60px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .heroSection {
    min-height: 400px;
  }
  .heroImage {
    width: 343px;
    height: 160px;
    border-width: 4px;
  }
  :global(.hero-section .swiper-button-prev),
  :global(.hero-section .swiper-button-next) {
    width: 30px;
    height: 30px;
  }
  :global(.hero-section .swiper-button-prev) {
    margin-left: 4rem !important;
    margin-top: 0.5rem !important;
  }
  :global(.hero-section .swiper-button-next) {
    margin-right: 4rem !important;
    margin-top: 0.5rem !important;
  }
  :global(.hero-section  .swiper-button-prev) svg {
    width: 10px;
    height: 10px;
  }
  :global(.hero-section  .swiper-button-next) svg {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 425px) {
  :global(.hero-section .swiper-button-prev) {
    margin-left: 2rem !important;
    margin-top: 0.5rem !important;
  }
  :global(.hero-section .swiper-button-next) {
    margin-right: 2rem !important;
    margin-top: 0.5rem !important;
  }
}