.heroSection {
  background-image: url("/bg_hero.png");
  background-size: cover;
  background-position: center;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.imageWrapper {
  width: 100%;
}

.heroImageWrapper {
  display: flex;
  justify-content: center;
}

.heroImage {
  border-radius: 500px;
  object-fit: cover;
  height: 470px;
  border: 8px solid var(--black-color);
}

.heroSection .swiper-button-prev,
.heroSection .swiper-button-next {
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection .swiper-button-prev::after,
.heroSection .swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
  color: white;
}