.dashboardContainer {
  display: flex;
  height: 100vh;
}

.dashboardContent {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}


.sidebar {
  width: 250px;
  background-color: var(--dark-color);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.navList {
  list-style: none;
  padding: 0;
}

.navList li {
  margin-bottom: 1rem;
}

.navList li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navList li a:hover {
  text-decoration: underline;
}